{# app/Resources/views/lucky/number.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <h1>Main page</h1>

    <div>
        <label for="sell">Продажа</label>
        <input id="sell" type="radio" name="type" value="sale" checked onclick="setFromToName('Цена')"/>
        <label for="rent">Аренда</label>
        <input id="rent" type="radio" name="type" value="rent" onclick="setFromToName('Площадь')"/>
    </div>

    <label for="city">Город</label>
    <select name="city" id="city">
        <option value="Kharkiv">Kharkiv</option>
        <option valuie="Kiev">Kiev</option>
    </select>

    <div class="from-to">
        <label id="from-to">Цена</label>
        <input id="from" type="from" placeholder="От" />
        <input id="to" type="to" placeholder="До"/>
    </div>

    <button type="submit" onclick="getHouses()">Найти</button>

    <div class="products">
        <table>
            <thead>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Price</th>
            <th>Area</th>
            </thead>
            <tbody id="table-houses">
            {% for house in houses %}
                <tr>
                    <td>{{ house.id }}</td>
                    <td>{{ house.name }}</td>
                    <td>{{ house.city }}</td>
                    <td>{{ house.price }}</td>
                    <td>{{ house.area }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


{% endblock %}